.caroPublicidad{
    height: 38rem; /*alto maximo*/
}

.img-carousel{
    height: 30rem;
}

.img-catalogo{
    height: 20rem;
}

/*IMAGEN ONG*/
.img-ong{
    height: 5rem;
}

.footer-content{
    padding-top: 2rem;
}

.catalog-content{
    margin-bottom: 10rem ;
}

.search-button{
    font-size: 1.0rem;
    margin-right: 1.5em;
}

